<html>
<head>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:700" rel="stylesheet">
    </head>
<body style="background-color:beige;">
    
    <div class="jumbotron" style="margin-top:15%;margin-left:15%;margin-right:15%;background-color:rgba(0,0,0,0.5);border-radius:30px;text-align:center;color:white;">
    <h1>ALREADY APPLIED !!!</h1>
        <a href='/get' class="btn btn-lg btn-warning">Go back</a>
    </div>
</body>
</html>