<!DOCTYPE html>
<html>
<head>
	<title>homepage</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Nanum+Gothic:700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Mukta:800" rel="stylesheet">
	


	<script type='text/javascript'>
	var imageID=0;
	function changeimage(every_seconds){
    if(!imageID){
        document.body.style.backgroundImage="url('https://images.unsplash.com/photo-1489087584469-437d40177a45?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80')";
        imageID++;
    }else{if(imageID==1){
        document.body.style.backgroundImage="url('https://images.unsplash.com/photo-1504743591040-f3bec9c542cd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80')";
        imageID=0;
    }}
    setTimeout("changeimage("+every_seconds+")",((every_seconds)*1000));
        }
function b()
        {
            
        }

</script>


<style type="text/css">
	body, html {
  height: 100%;
}
#su:hover{
	background-color: rgba(0, 0, 0,0.5);
}
#ln:hover{
	background-color: rgba(0, 0, 0,0.5);
}

</style>

</head>
<body style='background-image:url(https://images.unsplash.com/photo-1504743591040-f3bec9c542cd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80);background-repeat: no-repeat;background-size: cover;background-position: center;height: 100%;' onload='changeimage(4)'>
<div style="width: 100%; overflow: hidden;height: 100%;">
    <div style="width: 50%; float: left; height: 100%;border-right: 0.2px solid white;background-color: rgba(10, 10, 10,0.2);text-align: center;">
    	<div style="height: 100%">
        	<img src="/images/doctor.png" height="90%" width="90%">
    	</div>
    </div>
    <div style="float:right;width:50%;height: 100%;border-top: 0.2px solid white;background-color: rgba(10, 10, 10,0.4)"> 
    	<div style="height: 50%;width: 100%;border-bottom: 0.2px solid white;">
    		<a href="/users/register"><div style="width: 50%;float: left;height: 100%;border-right: 0.2px solid white;text-align: center;" id="su"><img src="/images/signup.png" height="20%" width="20%" style="margin-top: 30%;"><h2 style="color: white;">Signup</h2></div></a>


    		<a href="/direct"><div id="ln" style="width: 50%;float: right;height: 100%;border-bottom: 0.2px solid white;text-align: center;"><img src="/images/login1.png" height="20%" width="20%" style="margin-top: 30%;"><h2 style="color: white;">Login</h2></div>
            </a></div>


    	<div style="height: 50%;width: 100%;text-align: center;background-color: rgba(0,0,0,0.6);"><h2 style="color: white">ABOUT</h2>
    	<p style="color: white;margin-top: 5%;">This App is a helpline app for the Patients around the globe. The patient scans his Aadhar QR code to signup into the website. As he scans his ID, his location is saved into the DB. Now the user can enter the symptoms he has been facing and gets a specialisation that he should refer and also gets the name of the doctor, with his location that can be navigated directly. The user has an option to view his old records and and even see the disease and doctor on his login at times needed.</p>
    	</div>
    </div>
</div>

</body>
</html>