<!DOCTYPE html>
<html>
<head>
	<title>Dashboard</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Lato:700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:700" rel="stylesheet">

	<style type="text/css">
body{
    padding-top: 13%;
    background:url("map.jpg");
    background-size: cover;
    background-color:#e5eefc;
    background-position:center;
    }
.button{
    position: absolute;
    top: 50%;
    }
html{
    height:100%;
    }
#content{
    text-align:center;
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 0px 4px 3px black;
        }
    h1{
        font-weight: 700;
        font-size: 5em;
		}
		.wrapper {
    text-align: center;
}
.container1 {
  position: center;
  right: 0;
  max-width: 300px;
  padding: 16px;
  background-color: white;
}
   .footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
    height:10%;
padding:12px;
  background-color: white;
            font-family: 'Open Sans', sans-serif;
  text-align: center;
}
.lis ul {
margin-left: 250px;
  list-style-type: none;
  float: left;}

	hr{
    border: 0;
    height: 1px;
    text-align:center; 
    width:50%;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
	</style>
</head>
<body>


<nav class="navbar navbar-inverse navbar-fixed-top">  
<div class="container">
	<div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#" class="navbar-brand">Easy Transport</a>
    </div>
	<div class="collapse navbar-collapse" id="bs-nav-demo">
	<ul class="nav navbar-nav">
		<li><a href="#" active>Home</a></li>
		<li><a href="#">Contact</a></li>
        <li><a href="/post">Post Question</a></li>
	</ul>
	<ul class="nav navbar-nav navbar-right">
		<li><a><span class="glyphicon glyphicon-user" aria-hidden="true"></span>Welcome <%= user %></a></li>
		<li><a href="/users/logout"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>Log out</a></li>	
	</ul>
	</div>
</div>
    </nav>
    <div class="footer">
    <p>© 2018 Copyright: Sachin</p></div>
    
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.js"></script>
</body>
</html>